<%- include("header") %> <%- include("sidebar") %>
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Faculty List</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Faculty List</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Faculty List</h3>
              <a href="/addFaculty" class="btn btn-primary float-right">
                <i class="fa fa-plus-circle"></i>
                Add Faculty</a>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
              <% if(users != ''){ %>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr class="text-center">
                    <th>*</th>
                    <th>Faculty Name</th>
                    <th>Mobile No.</th>
                    <th>Email</th>
                    <!-- <th>password</th> -->
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% users.forEach((row, index)=>{ %>
                  <tr class="text-center">
                    <th><%= index + 1 %></th>
                    <td><%= row.facultyName %></td>
                    <td><%= row.mobileNo %></td>
                    <td><%= row.email %></td>
                    <!-- <td><%= row.password %></td> -->
                    <td>
                      <a
                        href="/faculty/delete/<%= row._id %>"
                        class="text-danger"
                        onclick="return confirm('Are you sure you want to proceed?')"
                        ><i class="fa fa-trash fs-lg mx-1"></i
                      >Delete</a>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
              <% }else{ %>
              <h3 class="text-center text-secondary mt-5">
                No user found in the database
              </h3>
              <% } %>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include("footer") %>
